html { 
  height: 100%;
  background-color: #FFFFFF;
}

body { 
  padding: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 13pt;
}

.scatterplot {
  width : 640px;
  height: 640px;
}

.config {
  
}

.xAxis {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.yAxis {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}