html { 
  height: 100%;
  background-color: #000000;
}

body { 
  padding: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 13pt;
  color: white;
}

.dropdownmenu {
  -webkit-appearance: button;
  -webkit-border-radius: 0px;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -webkit-padding-end: 0px;
  -webkit-padding-start: 0px;
  -webkit-user-select: none;
  border: 0px solid;
  color: rgba(180, 180, 180, 255);
  background-color: #000000;
  font-size: 12px;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: hand; /*IE/chrome/firefox compatibility it needs both*/
  cursor: pointer;
}

input {
  -webkit-appearance: input;
  border: 0px solid;
  font-size: 12px;
}

select {
  -webkit-appearance: select;
  border: 0px solid;
  font-size: 12px;
}

#bandwidth {
  width : 50px;
}

#div_bandwidthslider {
  width : 200px;
  background: #ffffff;
}

.ui-slider-handle.ui-state-default.ui-corner-all {
  background: #ffffff;
}

.button {
  font-size: 15pt;
  padding: 5px;
  cursor: hand; /*IE/chrome/firefox compatibility it needs both*/
  cursor: pointer;
}

.scatterplotmatrix {
  width: 800px;
  height: 800px;
  text-align: center;
}

.colorscale {
  width: 80px;
  height: 800px;
  text-align: center;
}

.scatterplotmatrix.scatterplotdim1 {
  height: 1px;
  text-align: center;
}

.scatterplotmatrix.scatterplotdim2 {
  width: 1px;
  text-align: center;
}

.scatterplottable {
  font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
  border: 0px solid black;
  padding: 0px;
}


.config {
  
}

.xAxis {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.yAxis {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}