html { 
  height: 100%;
  background-color: #000000;
}

body { 
  padding: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 13pt;
}

.scatterplotmatrix {
  width: 1024px;
  height: 1024px;
  text-align: center;
}

.scatterplotmatrix.scatterplotdim1 {
  height: 1px;
  text-align: center;
}

.scatterplotmatrix.scatterplotdim2 {
  width: 1px;
  text-align: center;
}

.scatterplottable {
  font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
  border: 0px solid black;
  padding: 0px;
}


.config {
  
}

.xAxis {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.yAxis {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}