body {
  font: 14px Verdana;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  text-align:justify;
  text-justify:inter-word;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Top level setup: page container, top panel, charts panel and gallery. */

#page_container {
  width: 1400px;
  margin: 0 auto;
}

#top_panel {
  width: 980px;
  height: 640px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow:0 0 1px 1px #777;
}

#charts_panel {
  width: 1270px;
  height: 160px;
  margin: 0 auto;
  box-shadow:0 0 1px 1px #777;
}

#gallery {
  width: 1270px;
  margin: 0 auto;
  box-shadow:0 0 1px 1px #777;
}


/* Top panel component: canvas container and its content. */

#canvas_container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 640px;
  height: 640px;
  box-shadow:0 0 1px 1px #333333;
}

#map_container, #map_overlay, #map_overlay svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#map_overlay {
  z-index: 10;
  pointer-events: none;
}

#map_overlay svg {
  font: 30px sans-serif;
  stroke: white;
  fill: white;
}

/* Top panel component: color scale. */
#color_scale {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 30px;
  height: 100%;
}

/* Top panel component: side panel. */
#side_panel {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 300px;
  height: 640px;
}

/* Side panel component: filters. */
#filters_container {
  position: relative;
  width: 280px;
  height: 335px;
  background: #eee;
  padding: 10px;
}

/* Side panel component: animation control container. */
#anim_container {
  position: relative;
  width: 280px;
  height: 250px;
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
}

/* Animation control container component: animation button. */
#anim_button {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-size: 28px 28px;
  cursor: hand;
  cursor: pointer;
}

/* Animation control container component: div animation slider. */
#div_animslider {
  width: 235px;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 7px;
}


/* Gallery components. */
#gallery_items {
  width: 100%;
  margin: 5px;
}

#gallery_items .item {
  display: inline-block;
  width: 200px;
  height: 240px;
  margin-bottom: 5px;
  padding: 5px;
  box-shadow:0 0 1px 1px #333333;
}

#gallery_items .item img {
  position: absolute;
  width: 200px;
  height: 200px;
  box-shadow:0 0 1px 1px #333333;
}

#gallery_items .item p {
  padding-top: 200px;
  margin: 5px;
}

/* Calendar component items. */
#calendar_container {
  padding-left: 30px;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: gray;
  stroke-width: 1px;
}

.monthTitle {
  text-anchor: middle;
  font: 12px;
  stroke: black;
  fill: black;
}

.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}

/* Line chart component items. */
#lineChart {
  stroke: none;
  fill: black;
}

#lineChart .axis path, #lineChart .axis line {
  fill: none;
  stroke: black;
}

#lineChart .line {
  fill: none;
  stroke: black;
  stroke-width: 1.0px;
}

#lineChart path.area {
  fill: #eee;
}
